<table style="width:102%;position:relative;">
<tr>
<td>
<nav class="navbar1 navbar-inverse1">
<div class="container-fluid" >
<div class="form-group" style="margin-top:5px;margin-bottom:5px;">
<h4 class="col-sm-3" style="color:white;">Book Rental Customers</h4> 
<div class="col-sm-offset-6 col-sm-3 has-feedback">
<input type="text" id="searchCustomer" class="form-control input-sm" ng-model="searchCustomer" 
Placeholder="Search Customer" /><span class="glyphicon glyphicon-search form-control-feedback" 
style="margin-right:15px;"></span>
</div>
</div>
</div>
</nav>
<td>
</tr>
<tr>
<td>
<table class="table table-striped">
<thead>
<tr style="background-color:#99ffff">
<th></th>
<th>Name</th>
<th>Telephone</th>
<th>Email Id</th>
<th>Address</th>
<th>Edit</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="cust in customer | filter:searchCustomer">
<td><input type="checkbox" checklist-model="user.custIndex" checklist-value="cust.index" /></td>
<td>{{cust.custName}}</td>
<td>{{cust.custTel}}</td>
<td>{{cust.custEmail}}</td>
<td>{{cust.custAdd}}</td>
<td><button value="Edit" class="btn btn-success" ng-click="editCustomer(cust.index)">Edit</button></td>
</tr>
</tbody>
</table>
<button class="btn btn-danger" ng-show="showDeleteButton" style="margin:10px;" ng-click="deleteCustomer()">Delete</button>
</td>
</tr>
</table>
<br/>
<div ng-show="showEditForm">
<div class="row col-sm-7 alert alert-info"
 style="margin-left:10px; display:table; #position:relative; overflow:hidden;">
  <span class="glyphicon glyphicon-edit"></span> 
  <p style="#position:absolute; #top:20%; display:table-cell; vertical-align: middle;">
    Edit Customer. Make sure you add all the required fields. 
  </p>
</div>
<br/>
<div class="row col-sm-12">
<form class="form-horizontal" name="custEditForm" ng-submit="submitEditCustomer()" novalidate>
<div class="form-group">
<label class="control-label col-sm-2" for="custName">Customer Name:</label>
<div class="col-sm-5">
<input id="custName" name="custName" class="form-control" ng-model="custName" ng-disabled="true" placeholder="Customer Name" required/>
</div>
<div class="showError" ng-show="custEditForm.$submitted || custEditForm.custName.$touched" >
<span ng-show="custEditForm.custName.$error.required">* Customer Name is Required</span>
</div>
</div>
<div class="form-group">
<label class="control-label col-sm-2" for="custTel">Customer Telephone:</label>
<div class="col-sm-5">
<input id="custTel" name="custTel" class="form-control" ng-model="custTel" minlength="8" 
maxlength="10" placeholder="Customer Telephone" ng-pattern="^[0-9]+$" required/>
</div>
<div class="showError" ng-show="custEditForm.$submitted || custEditForm.custTel.$touched" >
<span ng-show="custEditForm.custTel.$error.required">* Customer Telephone is Required</span>
<span ng-show="!custEditForm.custTel.$error.required && custEditForm.custTel.$invalid">* Customer Telephone is Invalid</span>
</div>
</div>
<div class="form-group">
<label class="control-label col-sm-2" for="custAdd">Customer Address:</label>
<div class="col-sm-5">
<input id="custAdd" name="custAdd" class="form-control" ng-model="custAdd" placeholder="Customer Address" required/>
</div>
<div class="showError" ng-show="custEditForm.$submitted || custEditForm.custAdd.$touched" >
<span ng-show="custEditForm.custAdd.$error.required">* Customer Address is Required</span>
</div>
</div>
<div class="form-group">
<label class="control-label col-sm-2" for="custEmail">Customer Email:</label>
<div class="col-sm-5">
<input id="custEmail" name="custEmail" class="form-control" ng-model="custEmail" placeholder="Customer Email" required/>
</div>
<div class="showError" ng-show="custEditForm.$submitted || custEditForm.custEmail.$touched" >
<span ng-show="custEditForm.custEmail.$error.required">* Customer Email is Required</span>
</div>
</div>
<div class="form-group">        
<div class="col-sm-offset-2 col-sm-5">
<input type="submit" class="btn btn-primary" ng-disabled="custEditForm.$invalid" value="Submit"/>
</div>
</div>
</form>
</div>
</div>
